.join {
  position: relative;

  overflow: hidden;

  @include media-breakpoint-down(md) {
    padding: 55px 20px 45px;
  }

  @include media-breakpoint-up(lg) {
    padding: 145px 20px 95px;
  }

  &::before {
    content: 'Request access';

    position: absolute;
    top: 92px;
    left: -10px;
    z-index: -1;

    font-weight: bold;
    font-size: 188px;
    line-height: 188px;
    color: #DEE7EE;
    white-space: nowrap;

    opacity: 0.42;
  }

  &::after {
    content: '';

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -2;

    background-color: #F6F8F9;
  }

  &__title {
    margin: 0;
    margin-bottom: 37px;

    font-weight: 600;
    font-size: 29px;
    line-height: 30px;
    text-align: center;

    letter-spacing: 0.2px;

    color: #000000;
  }

  &__btn {
    display: block;
    max-width: 150px;
    margin: 0 auto;
    padding: 11px 50px;

    text-align: center;
    color: white;
    text-transform: uppercase;
    background: #F41132;

    box-shadow: 0px 0px 11px rgba(244, 17, 50, 0.3);
    border-radius: 53px;
  }
}
