.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;

  &--hidden {
    display: none;
  }

  &__empty-space {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: #4141419c;
  }

  &-window {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;

    display: block;
    max-width: 500px;
    width: 100%;
    background-color: white;
    border-radius: 8px;

    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 50px rgba(108, 120, 138, 0.59);

    &--request {
      max-width: 400px;
      padding: 50px 60px 30px;
    }

    &--request-submit {
      max-width: 465px;
      padding: 44px 26px 30px;
    }

    &--login {
      max-width: 420px;
      padding: 25px;
    }
  }
}
