.roadmap-step {
  padding: 0 80px 60px 30px;

  @include media-breakpoint-up(md) {
    padding: 15px 20px 5px;
  }

  &--active {
    .roadmap-step__date {
      color: $accent;

      &::before {
        background: $accent;
        box-shadow: 0px 0px 11px rgba(244, 17, 50, 0.3);
      }
    }
  }

  &--text-right {
    text-align: right;

    .roadmap-step__date::before {
      right: -50px;
      left: auto;
    }

    .roadmap-step__title {
      margin-left: auto;
    }

    .roadmap-step__descr {
      margin-left: auto;
    }

    .roadmap-step__overview {
      @include media-breakpoint-up(md) {
        padding-right: 50px;
        padding-left: 0;
      }
    }

    .roadmap-step__preview {
      @include media-breakpoint-up(md) {
        padding-left: 50px;
        padding-right: 0;
        margin-left: 0;
      }
    }

    .roadmap-step__preview-img {
      margin-left: 0;
    }
  }

  &__container {
    display: flex;

    @include media-breakpoint-down(xs) {
      flex-direction: column;
    }
  }

  &__overview {
    @include media-breakpoint-down(xs) {
      order: -1;
      text-align: right;
    }

    @include media-breakpoint-up(md) {
      width: 50%;
      padding-left: 50px;
      padding-top: 100px;
    }
  }

  &__preview {
    max-width: 363px;
    margin-left: auto;

    @include media-breakpoint-down(xs) {
      min-height: 200px;
    }

    @include media-breakpoint-up(md) {
      width: 50%;
      padding-top: 15px;
      padding-right: 50px;
    }
  }

  &__preview-img {
    margin-left: auto;
  }

  &__date {
    position: relative;

    display: block;
    margin: 0;
    margin-bottom: 30px;

    font-weight: 600;
    font-size: 84px;
    line-height: 84px;
    color: #B8C5D0;

    letter-spacing: 0.2px;

    transition: .3s ease;
  }

  &__title {
    max-width: 370px;
    margin: 0;
    margin-bottom: 30px;

    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
    color: black;

    letter-spacing: 0.2px;
  }

  &__descr {
    max-width: 460px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;

    color: #5D656B;

    letter-spacing: 0.2px;
  }
}

.tilt-in-bottom-1 {
  -webkit-animation: tilt-in-bottom-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: tilt-in-bottom-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/**
 * ----------------------------------------
 * animation tilt-in-bottom-1
 * ----------------------------------------
 */
@-webkit-keyframes tilt-in-bottom-1 {
  0% {
    -webkit-transform: rotateY(30deg) translateY(300px) skewY(-30deg);
    transform: rotateY(30deg) translateY(300px) skewY(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
    transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-bottom-1 {
  0% {
    -webkit-transform: rotateY(30deg) translateY(300px) skewY(-30deg);
    transform: rotateY(30deg) translateY(300px) skewY(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
    transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}
