.services {
  position: relative;

  min-height: 436px;
  background-color: #E8EDF1;

  &__parallax {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: hidden;
  }

  &__parallax-title {
    position: absolute;
    top: 83px!important;
    left: 131px!important;

    font-weight: bold;
    font-size: 342px;
    line-height: 342px;

    color: #DEE7EE;
  }

  &__container {
    display: flex;
    justify-content: center;
    padding: 20px;

    @include media-breakpoint-down(md) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__window + &__window {
    margin-top: 50px;

    @include media-breakpoint-up(lg) {
      margin-top: 0;
      margin-left: 50px;
    }
  }

  &__window {
    position: relative;
    top: -50px;

    max-width: 425px;
    width: 100%;
    min-height: 385px;

    color: #5D656B;
    background-color: white;
    box-shadow: 0px 0px 60px rgba(108, 120, 138, 0.28);

    @include media-breakpoint-up(md) {
      top: -185px;
    }
  }

  &__window-title {
    display: block;
    width: 100%;
    padding: 21px 20px;

    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: -0.6px;
    text-align: center;
    box-shadow: 0px 0px 60px rgba(108, 120, 138, 0.28);
    color: white;
    background-color: $accent;
  }

  &__window-content {
    padding: 25px 55px;
  }
}
